__pycache__/
*.py[cod]
.ipynb_checkpoints/

preprocess/
results/
output/*
!output/
!output/SAVE_CONVENTIONS.md
logs/
checkpoints/*.pth
checkpoints/*.pt
checkpoints/*.ckpt

*.log
*.tmp
*.swp
*.DS_Store
gaussian_splatting/
dust3r/
croco/
checkpoints/
